<h1>投稿一覧</h1>
<%= form_with url: lists_path, method: :get do |f| %>
  <%= f.text_field :title %>
  <%= f.submit '検索' %>
<% end %>
<% @lists.each do |list| %>
  <%= link_to list.category.name, lists_search_path(category_id: list.category.id), method: :get %>
<% end %>
<% @lists.each do |list| %>
  <p>タイトル</p>
  <%= link_to list_path(list.id) do %>
    <%= list.title %>
  <% end %>
  <p>本文</p>
    <%= list.body %>
<% end %>