<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image, size: "50x50" %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>


<% @lists.each do |list| %>
<div>
  <%= link_to list_path(list.id) do %>
    <%= image_tag list.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag list.user.get_profile_image, size: "50x50" %></p>
  <p>タイトル: <%= list.title %></p>
  <p>本文: <%= list.body %></p>
  <p>ユーザーネーム：<%= list.user.name %></p>
</div>
<% end %>